.content {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 20px;

    box-sizing: border-box !important;
}

.content>.title {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 20px 20px 30px 20px;
}

.content>.content-section {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 20px;
    height: max-content;
}

.content>.content-section>.section-text {
    text-align: left;
    font-size: 1.2rem;
    line-height: 1.5rem;
    height: auto;
    height: max-content;
    overflow: hidden;
    row-gap: 10px;
}

.content>.content-section>.section-topic-items {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 1.2rem;
    line-height: 1.5rem;
    height: auto;
    overflow: hidden;
    row-gap: 10px;
    list-style: circle !important;
}

.content>.content-section>.section-topic-items>.section-topic-item {
    height: max-content !important;
    overflow: hidden;
    list-style: circle !important;
}

.content>.content-section>.section-text ul li {
    list-style: circle !important;
}