:root {
    --gradient-left: #000077dd;
    --gradient-center: #ffffff77;
    --gradient-right: #770066dd;
    --gradient-right-2: #77006670;
    --gradient-right-3: #770066aa;

    --background-color: #232428;
}

.navbar {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 20px;
    box-sizing: border-box !important;

    border-right-width: 1px;
    border-right-style: solid;
    border-image: linear-gradient(to bottom, var(--background-color), var(--gradient-right-2), var(--background-color)) 1;
    animation: divNavbarContent 3s infinite;
}

@keyframes divNavbarContent {
    50% {
        border-right-width: 1px;
        border-right-style: solid;
        border-image: linear-gradient(to bottom, var(--background-color), var(--gradient-right-3), var(--background-color)) 1;
    }
}

.navbar>.photo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: max;
    height: 250px;
}

.navbar>.photo>img {
    margin: auto auto;
    max-width: max-content;
    padding: 2px;
    border-radius: 50%;
}

.navbar>.photo>.photo-background {
    margin-left: -50px;
    position: absolute;
    z-index: -1;

    margin: auto auto;
    min-width: 200px;
    min-height: 200px;
    background: linear-gradient(to right, var(--gradient-left), var(--gradient-center), var(--gradient-right));
    border-radius: 50%;
    animation: borderPhotoRotation 1s infinite;
}

@keyframes borderPhotoRotation {
    0% {
        transform: rotate(180deg);
        opacity: 1;
    }

    100% {
        transform: rotate(360deg);
        opacity: 1;
    }
}

.navbar>.name,
.navbar>.navbar-subtitle {
    text-align: center;
}

.navbar>.navbar-subtitle {
    display: none;
}

.navbar>.contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    row-gap: 15px;
}

.navbar>.contacts>li {
    justify-items: center;
    align-items: center;
    column-gap: 15px;
    height: 30px;
}

.navbar>.contacts>li>a {
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    text-decoration: none;
}

.navbar>.contacts>li i,
.navbar>.contacts>li>a i {
    font-size: 20px;
}

.navbar>.contacts>.email {
    display: grid;
    grid-template-columns: 30px 1fr;
}

.navbar>.contacts>.social-media {
    display: flex;
    margin: auto auto;
}